<div class="container">
    <form enctype="multipart/form-data" asp-action="formsubmit" asp-controller="Home" method="post" id="myform">
        <div class="card card-body">
            <h1 class="text-center">
                Form
            </h1>
            <div class="row">
                <div class="col-md-10">
                    <input class="form-control" name="file12" type="file" accept=".pdf" />
                    <br />
                    <div class="col-md-10">
                        <input type="submit" class="btn btn-info" value="submit"  />
                    </div>
                </div>
            </div>
        </div>    
    </form>
</div>